.video-overlay{
  width: 100%;
}
.video-overlay .clip{
  width: 100%;
}
.clip {
  width: 100%;
  border: 1px solid black;
  background-size:cover;
  border-radius: 10px;
  box-shadow: rgb(100 100 111 / 20%) 2px 2px 29px 11px;
}
.mob-clip {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.video-overlay{
  display:table;
  width:auto;
  position:relative;
  width:100%;
  background-size:cover;
}
.mob-video-overlay{
  display:table;
  width:auto;
  position:relative;
  width:100%;
  background-size:cover;
}
.playpause {
  background-image:url(../img/play-pause-btn.png);
  background-repeat:no-repeat;
  width:12%;
  height:12%;
  position:absolute;
  left:0%;
  right:0%;
  top:0%;
  bottom:0%;
  margin:auto;
  background-size:contain;
  background-position: center;
    /*animate*/
  transition:all .3s ease-in;
}
.video-overlay:hover .playpause{
  display: none;
}
.sidebar .video-1{
 height: 180px; 
}
.sidebar .video-2{
  height: 180px; 
 }
.sidebar .video-3{
  height: 180px; 
}
.more-videos{
  width: 100%;
}
.more-clips .card-deck .card{
  border: none!important;
  background: none!important;
}