@font-face{
	font-family: Graphik;
	src: url("fonts/Graphik-Regular.ttf");
}
footer{
  font-family: Graphik, sans-serif;
}
 /*medium+ screen sizes*/
 @media (min-width:992px) {
  .small-footer {
      display:none !important;
  }
}
/*small screen sizes*/
@media (max-width: 991px) {

  .small-footer {
      display:block !important;
  }
}
/*
  =========================================================================================
                                    Social Icons
  =========================================================================================
  */
  .footer-logo{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer_social_links{


  }
  

  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  .socio{
    width: 100%;
    background: #000000;
  
  }
  .socio .container{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
  }
  .social-buttons{
    display:inline-block;
    padding-right:20px;
    padding-left: 20px; 
    padding-bottom: 0;
    border-radius:10px;
    text-align:center;
  }
  /* Helper class to divide the icons */
  .social-margin {
    margin-right: 15px;
  }
  
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  
  .social-icon {
    margin-top:5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 1px;
    transition: all 0.3s;
  }
  /*.social-icon:hover {
      transform: rotate(360deg)scale(1.2);
    }*/
    /* Facebook Button Styling */
   .facebook {
      font-size: 14px;
      padding-top: 3px;
      padding-left: 1px;
      background-color: #ffffff;
      border-color: #ffffff;
      color: #3b5998;
     
    }
    .facebook:hover {
      background-color: #3b5998;
      border-color: #3b5998;
      color: #ffffff;
    }

    /* Whatsapp Button Styling */
   .whatsapp {
    font-size: 14px;
    padding-top: 3px;
    padding-left: 1px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #155E54;
   
  }
  .whatsapp:hover {
    background-color: #155E54;
    border-color: #155E54;
    color: #ffffff;
  }
    /* Twitter Button Styling */
  .twitter {
      font-size: 12px;
      padding-top: 4px;
      padding-left: 1px;
      background-color: #ffffff;
      border-color: #ffffff;
      color: #55acee;
      
    }
    .twitter:hover {
      background-color: #55acee;
      border-color: #55acee;
      color: #ffffffff;
    }
    /* Google+ Button Styling */
    .envelope {
      font-size: 12px;
      padding-top: 4px;
      padding-left: 2px;
      background-color: #ffffff;
      border-color: #ffffff;
      color: #dd4b39;
      
    }
    .envelope :hover { 
      background-color: #dd4b39;
      border-color: #dd4b39;
      color: #dd4b39;
    }
    /* Instagram Button Styling */
    .instagram {
      font-size: 14px;
      padding-top: 3px;
      padding-left: 1px;
      background-color: #ffffff;
      border-color: #ffffff;
      color: #ea4c89;
     
    }
    .instagram:hover {
      background-color: #ea4c89;
      border-color: #ea4c89;
      color: #ffffff;
    }
    /* Youtube Button Styling */
   .youtube {
      font-size: 15px;
      padding-top: 2px;
      padding-left: 0.5px;
      padding-right: 0.5px;
      background-color: #bb0000;
      color: #ffffff;
      border-color: #bb0000;
      
    }
    .youtube  :hover {
      background-color: #ffffff;
      color: #bb0000;
    }
     .linkedin {
      font-size: 14px;
      padding-top: 3px;
      padding-left: 1px;
      border-color: #ffffff;
      background-color: #ffffff;
      color: #3b5998;
     
    }
    .linkedin:hover {
      border-color: #3b5998;
      background-color: #3b5998;
      color: #ffffff;
    }

  .round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
  .round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
  .round-btn .icon {padding: 3px;}
  .round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
  .btn-facebook a {color: #3b5998;padding: 8px 13px;}
  .btn-facebook a:hover{
    background: #3b5998;
    color: #fff;
  }
  .btn-linkedin a {color: #007bb6;}
  .btn-linkedin a:hover {
    background: #007bb6;
    color: #fff;
  }
  .btn-twitter a{color: #1c9deb;}
  .btn-twitter a:hover{
    background: #1c9deb;
    color: #fff;
  }
  .btn-instagram a{color: #dd3f5c;}
  .btn-instagram a:hover{
    background: #dd3f5c;
    color: #fff;
  }
  .btn-whatsapp a{color: #155E54;}
  .btn-whatsapp a:hover{
    background: #155E54;
    color: #fff;
  }
  .btn-envelop a{
    color: #D6403A;
    font-size: 15px; 
    padding: 9px 12px;
  }
  .btn-envelop a:hover{
    background: #D6403A;
    color: #fff;
    font-size: 15px; padding: 9px 12px;
  }
  .standard_header .standard_social_links {justify-content: center;align-items: center;text-align: center;}
  
    /*
    =========================================================================================
                                      footer
    =========================================================================================
    */
    
    .footer-wrap {
      padding-top: 43px;
      background-size: cover;
  }
  
  .footer-wrap h3 {
      color: #fff;
      font-size: 17px;
      text-transform: uppercase;
      margin-bottom: 25px;
  }
  
  .footer-wrap p {
      font-size: 13px;
      line-height: 24px;
      color: #b3b3b3;
      margin-top: 15px;
  }
  
  .footer-wrap p a {
      color: #fff;
      text-decoration: underline;
      font-style: italic;
  }
  
  .footer-wrap p a:hover {
      text-decoration: none;
      color: #ff7800;
  }
  
  .footer-links li a {
      font-size: 13px;
      line-height: 30px;
      color: #ccc;
      text-decoration: none;
  }
  .footer-links li a:hover{
  color: #a71d31;
  }
  
  .footer-links li:before {
      content: "\f105";
      font-family: 'FontAwesome';
      padding-right: 10px;
      color: #ccc;
  }
  
  .footer-category li a {
      font-size: 13px;
      line-height: 30px;
      color: #ccc;
      text-decoration: none;
  }
  
  .footer-category li:before {
      content: "\f105";
      font-family: 'FontAwesome';
      padding-right: 10px;
      color: #b3b3b3;
  }
  .footer-category li a:hover{
    color: #a71d31;
  }
  .address {
      
      color: #b3b3b3;
      font-size: 14px;
      position: relative;
      padding-left: 30px;
      line-height: 30px;
  }
  
  .address:before {
      content: "\f277";
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .info a {
   
      color: #b3b3b3;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
  }
  
  .fa-phone:before {
      content: "\f095";
  }
  
  .info a {
  
      color: #b3b3b3;
      font-size: 14px;
      line-height: 30px;
      font-weight: normal;
  }
  
  .fa-fax:before {
      content: "\f1ac";
  }
  
  .copyright {
      border-top: 1px solid #111;
      font-size: 14px;
      color: #fafafa;
      padding-top: 15px;
      text-align: center;
      padding-bottom: 15px;
      background: #000000;
  }
  footer .second_class{
      border-bottom: 1px solid #444;
      padding-bottom: 25px;
  }
  footer .first_class {
      padding-bottom: 21px;
      border-bottom: 1px solid #444;
  }
  footer .first_class p, footer .first_class h3{
      margin: 0 0;
      
  }
  footer{
      background: #000000;
  }
  footer .newsletter{
    border: none;
    border-radius: 50px;
  }
  footer .newsletter:hover{
    border: none;
    border-radius: 50px;

  }
  footer .newsletter input[type="text"] {
      width: 100%;
      background: #fff;
      color: #333;
      border: 1px solid #222;
      padding: 14px 20px;
      border-radius: 50px;
      margin-top: 12px;
  }
    footer .newsletter input[type="text"]:hover{
      border: none;
    }
    footer .newsletter input[type="text"]::selection{
      border: none;
    }
    footer .newsletter input[type="text"]::-moz-selection{
      border: none;
    }
  .newsletter .newsletter_submit_btn {
      background: #fff;
      position: absolute;
      right: 30px;
      border: 0;
      top: 26px;
      font-size: 17px;
      color: #333;
  }
  .newsletter .newsletter_submit_btn:hover{
    color: #D6403A;                                                                         
  }
  
  footer .second_class_bdr{
      padding-top: 25px;
      border-top:1px solid #222;
  }
  
  footer .btn-facebook a {
      padding: 6px 14px !important;
  }
  
  footer .btn-envelop a {
      color: #D6403A;
      font-size: 15px;
      padding: 12px 12px;
  }
  
  footer .round-btn a {
      padding: 6px 12px;
  }
  
  footer .round-btn {
      box-shadow: 2px 2px 5px 0px #222 !important;}
  
  footer .round-btn {
      margin: 15px 4px;}
    
  footer dl, ol, ul {
      padding-left: 5px;
  }
    footer li{
      list-style: none;
    }
  
  @media(max-width:768px){
      .footer-wrap h3 {
      margin-top: 27px;}
      
      footer .round-btn {
      margin: 15px 4px;}
  }
  @media(max-width:320px){
  .copyright {
      font-size: 13px;}
  }