@font-face{
	font-family: Poppins;
	src: url("fonts/Poppins-Light.ttf");
}
@font-face{
	font-family: Muli;
	src: url("fonts/MuliExtralight-ywL02.ttf");
}
@font-face{
	font-family: Graphik;
	src: url("fonts/Graphik-Regular.ttf");
}
@font-face{
	font-family: GreatVibes-Regular;
	src: url("fonts/GreatVibes-Regular.ttf");
}
@font-face{
	font-family: Montserrat-Regular;
	src: url("fonts/Montserrat-Bold.ttf");
}
@font-face{
	font-family: OpenSans-Regular;
	src: url("fonts/OpenSans-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Muli;
    background-color: #fafafa;
}
:root{
  --gradient-color3: linear-gradient(to right bottom, #000,   #a71d31, #3f0d12, #000 );
}
.banner{
    background-color: #000000;
    height: 230px;
    border-radius: 0%;
}

/*grid system*/
.head-cards{
    margin: 0;
    padding: 20px 20px 0px 20px;
    background-color: none;
    transform: translateY(-300px);
    border-radius: 0%;
}
#setContainer{
    width: 60%;
    margin: 70px auto;
    padding: 8px;
    background-color: #FAFAFA;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 180px;
    grid-auto-flow: dense;
  }
  
  .content {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
  }
  
  .picture {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s;
  }
  
  .picture .front {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    backface-visibility: hidden;
  }
  
  .picture .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .horizontal {
    grid-column: span 2;
  }
  
  .vertical {
    grid-row: span 2;
  }
  
  .picture .back {
    width: 100%;
    height: 100%;
    background-color: #ebe9e9;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
  }
  .picture .back a{
    padding: 5%;
    font-family: Montserrat-Regular;
    font-size: 14px;
  }
  .picture .back a:hover{
    text-decoration: none;
  }
  .picture .back a .backText{
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #616161;
  }
  .picture .back a .backText:hover{
    text-decoration: none;
    opacity: 0.6;
  }
  .picture .back .btn-outline-warning{
    background: #111;
    border-radius: 0%;
    font-family: Muli;
    font-weight: 500;
    text-transform: uppercase;
    background: var(--gradient-color3);
    -webkit-background-clip: text;
    color: transparent;
    border-width: 1px;
    border-style: solid;
    border-image: 
    linear-gradient(
        to right, 
         #a71d31, #3f0d12
        
      ) 1;
      transition: .05s;
  }
  .picture .back .btn-outline-warning:hover{
    background: linear-gradient(
        to right, 
         #a71d31, #3f0d12
       );
       color: #fafafa;
  }
  .picture .back button {
    width: 140px;
    height: 40px;
    color: #ffffff;
    background-color: #248ce0;
    border-radius: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  #setContainer .content:hover .picture {
    transform: rotateY(180deg);
  }
  
  /* Media query for responsive */
  
  @media screen and (max-width: 950px) {
    #setContainer {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-auto-rows: 180px;
    }
  
    .content {
      grid-row: unset;
      grid-column: unset;
    }
  }
  .overly{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, transparent, black);
    padding: 28px 15px 10px;
    transition: .5s;
}
.overly h2{
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 400;
}
.overly p{
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1px;
  margin-bottom: 15px;
  font-weight: 400;
}

/*headings*/
.carouselPart{
  background-color: #000000;
  height: 540px;
}
@media (min-width:520px) {
  .carouselPart{
    background-color: #000000;
    height: 540px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width:992px) {
  .carouselPart{
    background-color: #000000;
    height: 540px;
    margin-left: 140px;
    margin-right: 160px;
  }
}
.headings{
  margin-top: -330px;
  background-color: #000000;
}
.headings h5{
  color: #FAFAFA;
  font-weight: 400;
  padding: 20px;
}

/* external css: flickity.css */

.carousel {
  background: #000000;
  height: 60%;
  
}
.carousel-cell {
  margin-right: 100px;
  background: #000000;
  height: 100%;
}

.carousel-cell:before {
  display: block;
}
.carouselImage{
  border-radius: 12px;
  height: 100%;
}

/*text*/
.overley{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -53px;
  background-image: linear-gradient(to bottom, transparent, rgb(54, 51, 51));
  padding: 28px 15px 10px;
  transition: .5s;
  border-radius: 12px;
}
.carousel-cell:hover .overley{
  bottom: 0px;
  transition: .5s;
  border-radius: 12px;
}
.overley h2{
  font-size: 16px;
  text-transform: uppercase;
  color: #FAFAFA;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: 400;
}
.overley p{
font-size: 12px;
text-transform: uppercase;
color: #FAFAFA;
letter-spacing: 1px;
line-height: 1px;
margin-bottom: 15px;
font-weight: 400;
}
.carosalButton{
  display: inline-block;
  padding: 15px 25px;
  color: #ddd;
  text-transform: uppercase;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 50px;
  line-height: 1;
  letter-spacing: 2px;
  font-size: 13px;
}
.carosalButton:hover{
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: #ddd;

}
.whiteCards{
  padding-top: 20px;
  transform: translateY(-80px);
  background-color: #fafafa;
}
.headings2 h5{
  color: #000000;
  font-weight: 400;
  padding: 20px;
}
.card{
  margin: 10px;
  border:none;
  box-shadow: 0px 5px 5px #888888;
  border-radius: 12px;
}
#CradBody{

}
#CradBody .card-title{
  margin-top: 12px;
  color: #505050;
  opacity: 0.9;
  font-family: Montserrat-Regular;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 110%!important;
}
#CradBody .card-text{
    color: #616161;
    font-weight: 400;
    font-family: OpenSans-Regular;
}
.cardDate{
  padding: 0%;
  margin: 0;
  font-size: x-small;
  transform: translateY(-6px);
  float: right;
  font-size: 12px;
      background: var(--gradient-color3);
    -webkit-background-clip: text;
    color: transparent;
}
.btn-secondary{
  background: #111;
  border-radius: 0%;
  font-family: Muli;
  font-weight: 500;
  text-transform: uppercase;
  background: var(--gradient-color3);
  -webkit-background-clip: text;
  color: transparent;
  border-width: 1px;
  border-style: solid;
  border-image: 
  linear-gradient(
      to right, 
       #a71d31, #3f0d12
      
    ) 1;
    transition: .05s;
  transform: translateY(-15px);
}
.btn-secondary:hover{
  transition: all .3s ease;
  cursor: pointer;
  background: 
  linear-gradient(
      to right, 
       #a71d31, #3f0d12
      
    );
    color: #fafafa;
}
.card-footer{
  background: none;
  border: none;
}
