@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}

.background {
    background: #F9FAFF;
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

.mob-body {
    margin-top: 2rem;
}
@media only screen and (min-width: 992px){
    .outer-wrapper{
        margin-top: 53px;
    }
    .main-content {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
}
@media only screen and (min-width: 1280px) {
    .outer-wrapper{
        margin-top: 53px;
    }
    .main-content {
        margin-right: auto;
        margin-left: auto;
        width: 1068px;
    }
}

footer {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px;
    height: 14px;
}

footer a {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    font-family: Roboto;
}

footer a:hover {
    color: #000000;
    text-decoration: underline 2px;
    text-decoration-color: blue;
}