@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}

.main-col{
    height: 1240px;
}
#large-card{
    margin-bottom: 42px;
    border-radius: 25px;
}
#large-card .post-image{
    height: 399px;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.ad-1{
    height: 600px;
}
.side-bar{

}
@media only screen and (min-width: 992px){
    .main-col{
        width: 100%;
    }
    #large-card{
        width: 100%;
    }
    #large-card .post-image{
        width: 100%;
    }
    .side-bar{
        width: 100%;
        height: 973px;
    }
    .ad-1{
        width: 100%;
        object-fit: cover;
        margin-left: 38px;
        float: right;

     }
    .main-content .col-8{
        width: 100%;
    }
    .main-content .col-4{
        width: 100%;
    }
}
@media only screen and (min-width: 1280px) {
    .main-col{
        width: 730px;
    }
    #large-card{
        width: 730px;
    }
    #large-card .post-image{
        width: 100%;
    }
    .side-bar{
        width: 300px!important;
        height: 973px;
        margin-left: 38px;
        float: right;
    }
    .side-bar a{
        padding: 0;
        margin: 0%;
    }
    .ad-1{
        width: 100%; 
        object-fit: cover;

     }
    .main-content .col-8{
        width: 730px;
    }
    .main-content .col-4{
        width: 300px;
    }
}

.ad-1:hover {
    border: 2px solid #3da9f0;
}

#small-card {
    border-radius: 25px;
    margin: 1rem;
    border: none;
    box-shadow: 0 5px 25px rgb(26 34 39 / 10%);
}


#small-card .post-image {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.add-part-mob {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2em;
}

.add-pic-mob {
    border: 1px solid #000000;
}

.add-pic-mob:hover {
    border: 2px solid #3da9f0;
}
.post-header{ /*larger screens*/
    width: 100%;
    margin-top: 50px;
}
.post-text-mob{
    margin-top: 20px;
}
.post-text{
    width:100%;
}
.post-text .post-heading {
    font-weight: 700;
    margin-bottom: 10px;
}
.post-text .post-date{
    font-family: Roboto;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 16.41px;
    font-style: normal;
}
.post-text .post-details{
    font-weight: 400;
}
#large-card .post-text {
    padding: 0;
    margin: 0;
}

#large-card .post-text:hover {
    text-decoration: none;
    color: #000000;
}

#large-card .post-text:hover {
    text-decoration: none;
    color: #000000;
}

#large-card .post-text .title {
    font-size: 12px;
    font-weight: 400;
    color: #818181;
    font-style: normal;
    margin-top: 15px;
}

#large-card .post-text .further-details {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.button-area {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.btn-grad {
    background-image: linear-gradient(to right, #26D0CE, #1A2980);
    background-color: none!important;
    border: none!important;
}

.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-grad:hover {
    background-image: none;
    background-color: #fff;
    border: 2px solid #3da9f0!important;
    /* change the direction of the change here */
    color: #3da9f0;
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* mobile version card */

#small-card .post-text {
    padding: 0;
    margin: 0;
}

#small-card .post-text:hover {
    text-decoration: none;
    color: #000000;
}

#small-card .post-text:hover {
    text-decoration: none;
    color: #000000;
}

#small-card .post-text .title {
    font-size: 6px;
    font-weight: 300;
    color: #818181;
    font-style: normal;
    margin-top: 10px;
}

#small-card .post-text .further-details {
    font-size: 8px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}
.mob-a{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.mob-b{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}