@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Light.ttf");
}
#large-card{
    margin-bottom: 42px;
    border-radius: 25px;
    background: none!important;
    box-shadow: 0 5px 25px rgb(26 34 39 / 10%);
}
#large-card:hover{
    box-shadow: 1px 13px 25px 20px rgb(26 34 39 / 10%);
}
#large-card .post-image{
    height: 399px;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#large-card .card-body{
    padding: 0;
}
.desk-a{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    padding-bottom: 0%;
    margin-top: 10px;
}
.desk-b{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#card-left{

}
#card-center{
   text-align: center; 
}
#card-right{
   text-align: right; 
}
.ad-1{
    height: 600px;
}
@media only screen and (min-width: 992px){
    #large-card{
        width: 100%;
    }
    #large-card .post-image{
        width: 100%;
    }
    .ad-1{
        width: 100%;
        object-fit: cover;
        margin-left: 38px;
        float: right;

     }
}
@media only screen and (min-width: 1280px) {
    #large-card{
        width: 730px;
    }
    #large-card .post-image{
        width: 100%;
    }
    .sidebar a{
        padding: 0;
        margin: 0%;
    }
    .ad-1{
        width: 100%; 
        object-fit: cover;

     }
}

.ad-1:hover {
    border: 2px solid #007bff!important;
}

#small-card {
    border-radius: 25px;
    margin: 1rem;
    border: none;
    background: none!important;
    box-shadow: 0 5px 25px rgb(26 34 39 / 10%);
}


#small-card .post-image {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.add-part-mob {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2em;
}

.add-pic-mob {
    border: 1px solid #000000;
}

.add-pic-mob:hover {
    border: 2px solid #007bff!important;
}
.post-header{ /*larger screens*/
    width: 100%;
    margin-top: 50px;
}
.post-text-mob{
    margin-top: 20px;
}
.article-header{
    font-family: Roboto;   
}
.article-header .post-heading {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}
.article-header .post-date{
    font-family: Roboto;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 16.41px;
    font-style: normal;
}
.article-header .post-details{
    font-weight: 400;
    font-size: 18px;
}
#large-card .post-text {
    padding: 0;
    margin: 0;
}

#large-card .post-text:hover {
    text-decoration: none;
    color: #000000;
}

#large-card .post-text:hover {
    text-decoration: none;
    color: #000000;
}

#large-card .title {
    font-size: 13px;
    font-weight: 400;
    color: #818181;
    font-style: normal;
    margin-top: 15px;
}

#large-card .further-details {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

/* mobile version card */

#small-card .title {
    font-size: 10px;
    font-weight: 300;
    color: #818181;
    font-style: normal;
    margin-top: 10px;
}

#small-card .further-details {
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}
.mob-a{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    padding-bottom: 0%;
    margin-top: 10px;
}
.mob-b{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
